body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
}

#desktop {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.draggable {
    width: 300px;
    height: auto;
    cursor: grab;
    transition: transform 0.s ease;
}

.draggable {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.draggable:active {
    cursor: grabbing;
}

.draggable:hover {
    transform: scale(1.1);
}

#s1 {
    width: 100%;
    height: 100vh;
    background-color: #FFF3FD ;
    position: relative;
}

#typo {
    position: absolute; 
    top: 15px; 
    left: 15px; 
    width: 50%; 
    max-width: 400px; 
    height: auto; 
}

