body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Couleur de fond aesthetic */
}

#desktop {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.draggable {
    width: 300px;
    height: auto;
    cursor: grab;
    transition: transform 0.s ease;
}

.draggable {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.draggable:active {
    cursor: grabbing;
}

.draggable:hover {
    transform: scale(1.1);
}

#s1 {
    width: 100%;
    height: 100vh;
    background-color: #FFF3FD ;
    position: relative;
}

#typo {
    position: absolute; /* Pour le positionner précisément */
    top: 15px; /* Distance par rapport au haut de la page */
    left: 15px; /* Distance par rapport au bord gauche */
    width: 50%; /* Réduit la taille à 80% de sa taille originale */
    max-width: 400px; /* Facultatif : Limite la taille maximale */
    height: auto; /* Maintient le ratio de l'image */
}



